.skillName {
  /* position: Absolute;
  top: 0;
  margin: 0; */
  font-size: 1.3rem;
  color: rgb(172, 157, 157);
  /* left: 50%;
  transform: translateX(-50%); */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.box {
  color: #444;
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;
  margin: 0;
  position: relative;
}
/* custom styles for mobile & ipad devices */
@media screen and (max-width: 1600px) {
  .skillName {
    font-size: 1.3rem;
  }
}
